@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
}
.container {
}
.header__inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__top {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header__bg {
    background-image: url(../images/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -80px;
    padding-bottom: 80px;
    min-height: calc(100vh - 150px);
}
.logo {
    width: 126px;
    height: 126px;
    cursor: pointer;
    margin-top: 15px;
}
.nav {
    display: flex;
    list-style: none;
    margin-top: 20px;
}
.nav__button {
    width: 40px;
    border: none;
    height: 20px;
    background-color: transparent;
    margin-top: 20px;
    padding: 12px 0;
    cursor: pointer;
    position: relative;
    display: none;
    & span {
        display: block;
        height: 4px;
        background-color: $title;
        border-radius: 2px;
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 4px;
            background-color: $title;
            border-radius: 2px;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: -4px;
        }
    }
}
.nav__item {
    cursor: pointer;
    padding-right: 30px;
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }
}
.nav__link {
    color: #001e64;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        border-bottom: 1px solid #001e64;
    }
}
.header__phone {
    margin-top: 10px;
    margin-right: 43px;
}
.header__phone-link {
    width: 30px;
    height: 30px;
}

.header-box {
    margin-left: 107px;
    padding-top: 138px;
    position: relative;
}
.header-box__title {
    @extend %title-font;
    max-width: 589px;
    color: #001e64;
    font-size: 72px;
    line-height: 95px;
    margin-left: 96px;
}
.header-box__slider {
    margin-top: 61px;
    padding-top: 57px;
    padding-bottom: 72px;
}

.header-box__slider-item {
    position: relative;
}
.header-box__slider-prev {
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
}
.header-box__slider-next {
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 0;
}
.header-box__slider-info {
    max-width: 522px;
    padding-bottom: 40px;
    padding-left: 100px;
}
.header-box__slider-text {
    &:first-child {
        padding-bottom: 15px;
    }
    font-size: 18px;
    line-height: 120%;
    color: #fff;
}
.header-box__btn {
    border-radius: 20px;
    @extend %title-font;
    font-size: 24px;
    line-height: 32px;
    padding: 14px 88px;
    border: none;
    color: #fff;
    background-color: rgba(#fff, 0.5);
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 100px;

    &:hover {
        background: #ffffff;
        color: #001e64;
    }
}
.header-box__lng {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    color: #fff;
    font-size: 18px;
}
.header-box__lng-ru,
.header-box__lng-eng {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    cursor: pointer;
}
.header-box__lng--active {
    font-weight: 700;
}
// MAIN

.main-slider {
    margin-top: 100px;
}
.main-slider__slider-prev {
    padding-bottom: 30px;
}
.main-slider__slider-next {
    padding-top: 30px;
}
.main-slider__slider-prev,
.main-slider__slider-next {
    background-color: transparent;
    border: none;
}
.main-slider__box {
    display: flex;
}
.main-slider__title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 310px;
    align-items: center;
    text-align: center;
}
.main-slider__name {
    color: $default;
    @extend %title-font;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    padding-bottom: 30px;
    cursor: pointer;
}
.slick-current {
    .main-slider__name {
        color: $title;
        @extend %title-font;
        font-size: 36px;
        line-height: 32px;
    }
}
.main-slider__item {
    margin-bottom: 100px;
}
.main-slider__info {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    max-width: 702px;
    margin-left: 179px;
}
.main-slider__img {
    object-fit: cover;
    width: 260px;
    height: 215px;
}
.main-slider__info-block {
    margin-left: 48px;
    max-width: 350px;
}
.main-slider__info-option {
    margin-bottom: 30px;
    width: 100%;
}
.main-slider__info-title {
    @extend %title-font;
    color: $title;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-slider__description-title {
    @extend %title-font;
    color: $title;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    padding-bottom: 10px;
}
.main-slider__info-desc {
    font-size: 16px;
    line-height: 19px;
}
.main-slider__description {
    max-width: 598px;
}
.main-slider__title {
    color: $title;
    @extend %title-font;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}
.main-slider__text {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 25px;
}
.main-slider__order {
    margin-top: 27px;
    color: $title;
    @extend %title-font;
    font-size: 24px;
    line-height: 32px;
    background-color: transparent;
    border: 1px solid #001e64;
    border-radius: 20px;
    padding: 12px 85px;
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover {
        background: #001e64;
        color: #fff;
    }
}
// MAIN BENEFITS
.main-benefits-bg {
    background-image: url("../images/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-benefits {
    display: flex;
    justify-content: space-between;
    padding-top: 290px;
    padding-bottom: 100px;
}
.main-benefits__item {
    position: relative;
}
.main-benefits__img {
    width: 180px;
    height: 165px;
}
.main-benefits__text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    @extend %title-font;
    color: #fff;
    max-width: 135px;
}
// ABOUT
.section__about {
    margin-top: 100px;
}
.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}
.about__box {
    max-width: 600px;
}
.about__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.about__header {
    @extend %title-font;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    color: $title;
    max-width: 351px;
    text-align: left;
    margin-bottom: 30px;
}
.about__header--big {
    max-width: 491px;
}
.about__header--medium {
    max-width: 420px;
}
.about__text {
    max-width: 420px;
    font-size: 16px;
    line-height: 120%;
    padding-bottom: 20px;
    &:last-child {
        padding-bottom: 0;
    }
}
.about__img {
    object-fit: cover;
    width: 600px;
    margin-bottom: 66px;
}
.about__img--small {
    width: 420px;
    margin-top: 50px;
    margin-bottom: 0;
}
.about__img--last {
    height: 597px;
    margin-top: 61px;
}
// BLOCKQUOTE
.blockquote {
    margin-top: 100px;
}
.blockquote__img {
    margin: 0 auto;
}
.blockquote__title {
    text-align: center;
    max-width: 692px;
    margin: 0 auto;
    @extend %title-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $default;
    margin-top: -20px;
}
// CONTACTS
.contacts {
    margin-top: 100px;
    background-image: url("../images/contacts-img.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.contacts__inner {
}
.contacts__info {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 390px;
    padding: 33px 0;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}
.contacts__title {
    max-width: 195px;
    @extend %title-font;
    color: $title;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 30px;
}
.contacts__email {
    max-width: 156px;
    color: $default;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 30px;
    max-width: 156px;
}
.contacts__phone {
    color: $default;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 30px;
    max-width: 216px;
}
.contacts__address {
    font-size: 18px;
    line-height: 21px;
}
// FOOTER
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer__social-list {
    display: flex;
    align-items: center;
    max-width: 180px;
    gap: 10px;
    margin-right: 65px;
}
.footer__social-item {
    &:hover {
        transform: translateY(-10%);
        transition: all 0.3s;
    }
}
.footer__social-link {
    & path {
        transition: all 0.3s;
    }
    &:hover path {
        fill: #001e64;
    }
}
.footer__social-thumb {
}
.footer__menu {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;
}
.nav-list__item {
}
.nav-list__link {
    color: #001e64;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    cursor: pointer;
}
.footer-logo {
    object-fit: fill;
    width: 126px;
    height: 126px;
    margin-top: -35px;
    margin-left: 20px;

}
@import "media";
